<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen - Client Logo Slider</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="container">
      <h1 class="center">Client Logo Slider</h1>
      <p class="center">
        by <a href="http://haneenkrimly.com" target="_blank">Haneen Krimly</a>
      </p>

      <section class="client-slider">
        <div class="slide">
          <img src="https://i.ibb.co/6HynNKS/wordpress.png" />
        </div>
        <div class="slide"><img src="https://i.ibb.co/41kkqNJ/cnn.png" /></div>
        <div class="slide">
          <img src="https://i.ibb.co/g6W04GJ/google.png" />
        </div>
        <div class="slide"><img src="https://i.ibb.co/CsFyzY8/hbo.png" /></div>
        <div class="slide"><img src="https://i.ibb.co/T20Ssx4/hulu.png" /></div>
        <div class="slide"><img src="https://i.ibb.co/ncvNQSB/ibm.png" /></div>
        <div class="slide">
          <img src="https://i.ibb.co/yPzSXPL/microsoft.png" />
        </div>
      </section>
    </div>
    <!-- partial -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.js"></script>
    <script src="./script.js"></script>
  </body>
</html>
